<div class="ui container" style="padding: 10%">
  <div class="ui segment" style="padding: 220px">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row g-2">
        <div class="mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", :required => true, placeholder: "Email" %>
        </div>
        <br>
        <div class="mb-3">

          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", :required => true, placeholder: "Password" %>
        </div>
      </div>
      <br>
      <div class="col-12">
        <%= f.submit "Log in", class: "ui orange button" %>
      </div>
      </div>
    <% end %>

    </div>
</div>
