<% if hospitals %>
  <%= render hospitals %>
<% else %>
  <div class="ui center middle aligned container">
    <div class="ui negative message">
      No Hospitals Found !!
    </div>
  </div>
<% end %>
