<% if doctors.count>0 %>
  <div style="padding: 40px">
    <div class="ui grid">
  <%= render doctors %>
    </div>
  </div>

<% else %>
  <div class="ui center middle aligned container">
    <div class="ui negative message">
      No Doctors Found !!
    </div>
  </div>
<% end %>