
  <div class="floating-fields">
    <%= form_with url: search_hospital_doctors_path, local: true, html: { class: "ui right aligned container search-form" } do |f| %>
      <div class="ui massive action input">
        <%= f.text_field :query, placeholder: "search by specialization...", autocomplete: "off" %>
        <button onclick="this.formAction.submit()" class="ui custom orange button">
          <i class="search icon"></i>
          Search
        </button>
      </div>
    <% end %>
  </div>

  <%= render "doctors", doctors: @doctors %>



